In [ ]:
%matplotlib inline
import pymc3 as pm
import numpy as np
import pandas as pd
import theano

from scipy import stats
from sklearn.metrics import mean_squared_error
import math

import matplotlib.pyplot as plt
import arviz as az

import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

WARNING (theano.tensor.blas): Using NumPy C-API based implementation for BLAS functions.

In [ ]:
d = pd.read_csv('./data/NWOGrants.csv', header=0, sep=';')
d['gid'] = pd.factorize(d['gender'])[0]
d['apps'] = d['applications']
d['disc'] = pd.factorize(d['discipline'])[0]
d

             discipline gender  applications  awards  gid  apps  disc
0     Chemical sciences      m            83      22    0    83     0
1     Chemical sciences      f            39      10    1    39     0
2     Physical sciences      m           135      26    0   135     1
3     Physical sciences      f            39       9    1    39     1
4               Physics      m            67      18    0    67     2
5               Physics      f             9       2    1     9     2
6            Humanities      m           230      33    0   230     3
7            Humanities      f           166      32    1   166     3
8    Technical sciences      m           189      30    0   189     4
9    Technical sciences      f            62      13    1    62     4
10    Interdisciplinary      m           105      12    0   105     5
11    Interdisciplinary      f            78      17    1    78     5
12  Earth/life sciences      m           156      38    0   156     6
13  Earth/life sciences      f           126      18    1   126     6
14      Social sciences      m           425      65    0   425     7
15      Social sciences      f           409      47    1   409     7
16     Medical sciences      m           245      46    0   245     8
17     Medical sciences      f           260      29    1   260     8